.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #6b1f8c;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-size: 50px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  font-family: Optima, sans-serif;
}

.brief_description {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.profile_image {
  width: 700px;
  height: auto;
}
